body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #949494;
}

header {
    text-align: center;
    background-color: #166bdb;
    color: white;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #949494;
}

section {
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #336699;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #166bdb;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #336699;
}

#deskwire {
    display: flex;
    max-width: 760px
}

#mobwire {
    display: flex;
    max-height: 700px;
}

@media screen and (max-width: 1000px) {
    #deskwire {
        display: flex;
        max-width: 500px
    }

    #mobwire {
        display: flex;
        max-height: 500px;
    }
}