@media screen and (min-width: 600px) {
    header {
        padding: 30px;
    }
    
    nav ul li {
        margin-right: 30px;
    }
    
    .news-banner {
        padding: 30px;
    }
    
    main {
        padding: 30px;
    }
    
    footer {
        padding: 30px;
    }
}
